<h1> Games List </h1>

<ul>
  <% @gameBoards.each do |gb| %>
  <li>ID: <%=link_to gb.id, gameboard_path(gb.id) %></li>
  <li>Player One:<%= gb.player_one%></li>
  <li>Player Two: <%= gb.player_two%></li>
  <li>Game Winner: <%= gb.winner %></li>
  <% end %>
</ul>

<%= link_to 'Start a new Game', new_gameboard_path(@gameBoard) %>
