<h1>TIC-TAC-TOE</h1>
<h2><%= @gameBoard.player_one%> vs. <%= @gameBoard.player_two %> </h2>
<h3>It is currently <%= @gameBoard.player_to_turn %>'s turn </h3>
<style>
td {
border: 1px solid black;
height: 50px;
width: 50px;
}
</style>
<table>
    <tr>
        <td><%= form_tag create_piece_path do %>
          <%= hidden_field_tag :'gameboard[id]',  @gameBoard.id%>
          <%= hidden_field_tag :'piece[position]', 0%>
          <%= submit_tag "Place Piece" %>
          <% end %>
        </td>
        <td><%= form_tag create_piece_path do %>
          <%= hidden_field_tag :'gameboard[id]',  @gameBoard.id%>
          <%= hidden_field_tag :'piece[position]', 1%>
          <%= submit_tag "Place Piece" %>
          <% end %>
        </td>
        <td><%= form_tag create_piece_path do %>
          <%= hidden_field_tag :'gameboard[id]',  @gameBoard.id%>
          <%= hidden_field_tag :'piece[position]', 2%>
          <%= submit_tag "Place Piece" %>
          <% end %></td>
    </tr>
    <tr>
        <td><%= form_tag create_piece_path do %>
          <%= hidden_field_tag :'gameboard[id]',  @gameBoard.id%>
          <%= hidden_field_tag :'piece[position]', 3%>
          <%= submit_tag "Place Piece" %>
          <% end %>
        </td>
        <td><%= form_tag create_piece_path do %>
          <%= hidden_field_tag :'gameboard[id]',  @gameBoard.id%>
          <%= hidden_field_tag :'piece[position]', 4%>
          <%= submit_tag "Place Piece" %>
          <% end %>
        </td>
        <td><%= form_tag create_piece_path do %>
          <%= hidden_field_tag :'gameboard[id]',  @gameBoard.id%>
          <%= hidden_field_tag :'piece[position]', 5%>
          <%= submit_tag "Place Piece" %>
          <% end %>
        </td>
    </tr>
    <tr>
        <td><%= form_tag create_piece_path do %>
          <%= hidden_field_tag :'gameboard[id]',  @gameBoard.id%>
          <%= hidden_field_tag :'piece[position]', 6%>
          <%= submit_tag "Place Piece" %>
          <% end %>
        </td>
        <td><%= form_tag create_piece_path do %>
          <%= hidden_field_tag :'gameboard[id]',  @gameBoard.id%>
          <%= hidden_field_tag :'piece[position]', 7%>
          <%= submit_tag "Place Piece" %>
          <% end %>
        </td>
        <td><%= form_tag create_piece_path do %>
          <%= hidden_field_tag :'gameboard[id]',  @gameBoard.id%>
          <%= hidden_field_tag :'piece[position]', 8%>
          <%= submit_tag "Place Piece" %>
          <% end %>
        </td>
    </tr>
</table>
